/*custom css style */
html{ height: 100%;}
body{ height: 100%;}


.overlay-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: -moz-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);

    z-index: 0;
}



/*admin login*/
.custom-section-login{ position: relative; background: url("../images/admin/bg.jpg"); background-size: cover; padding: 50px 0; min-height: 100%;}
.admin-login-content{ position: relative; z-index: 1;}
.custom-login-title { margin:50px 0px 30px; color: #fff;}
.custom-login-title h1{ font-weight: 800;}
.custom-login-box{ width: 100%; max-width: 360px; padding: 30px; margin: 0 auto; background-color: #fff;}
.admin-login-content .admin-login-footer {	color: #fff;	font-size: 14px;	padding: 35px 0;	}
.admin-login-content .admin-login-footer a {	color: #fff;	font-weight: 700;}


/*admin common*/
.custom-admin-header{ height: 50px; background-color: #222;}
.custom-admin-header h1{ color: #fff; font-size: 18px; font-weight: 700;}
.custom-adm-logout{ margin-top: 6px;}
.custom-adm-tabmenu{ padding-top: 30px; background-color: #ddd;}
.custom-sub-title{ padding: 20px 0; margin-bottom: 30px; border-bottom: 1px solid #ddd;}
.custom-sub-title h2{ font-weight: 800; }
.custom-sub-body{ margin-top: 20px;}

/*board*/
.custom-board-search{padding-top: 20px; padding-bottom: 20px;}
.custom-board-table{}
.custom-board-table th.wordBreak,
.custom-board-table td.wordBreak{word-break: break-all !important;}
.custom-board-table td{vertical-align: middle !important;}
.custom-board-table thead tr{ background-color: #ddd;}


/*admin member list*/

/*Products Edit & Delete*/
.custom-outline { padding: 19px;}
.custom-delete-btn{ margin: 20px 0 10px;}
.custom-add-btn{ margin: 20px 0 10px;}



/* Gb Footer */
.gb-footer {
    margin-top: 50px;
	color: #fff;
	font-size: 14px;
	padding: 35px 0;
	background-color: #333;
}

.gb-footer a {
	color: #fff;
	font-weight: 700;
}

